.portlets {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 8px 6px -6px black;
}

.paddingLeftSmall {
    padding-left: 50px;
}


.primaryGraph, .secondaryGraph {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}