<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-center">
                    Open Mission Control <small>Satellite control</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-left paddingLeftSmall">
                    <h2>
                        Mission Specific Information
                    </h2>
                    <p class="missionInformation">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <div id="omc-tabs"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-left paddingLeftSmall">
            <h2>
                Command Status
            </h2>
            <p class="commandStatus">
            </p>
        </div>
    </div>
</div>
