<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
					Open Mission Control <small>Satellite control</small>
				</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>
						Mission Specific Information
					</h2>
                    <p>
                        [Mission Badge, Spacecraft Time, Current and Upcoming Events, UTC Time, Organization Logo, Spacecraft Mode, TM Mode]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h2>
							TM Parameter Displays (Subsystem)
						</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="jumbotron">
                                <h2>
									Mimic Displays (Sub-system)
								</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="jumbotron">
                                <h2>
									Graph 1
								</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="jumbotron">
                                <h2>
									Graph 2
								</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>
				Command Status
			</h2>
            <p>
                [Last Executed Command ID, Command Acceptance Counter, Command Rejection Counter, Command Stack Status]
            </p>
        </div>
    </div>
</div>
